<div id="top">
  <div id="cv" class="instaFade">
    <div class="mainDetails">
      <div id="headshot" class="quickFade">
        <%= image_tag('headshot.jpg',alt:'Zhongcai Jiang') %>
      </div>
      <div id="name">
        <h1 class="quickFade delayTwo"><a href="https://www.linkedin.com/in/zhongcai-jiang-b7b7b6192/">Zhongcai Jiang</a></h1>
        <h2 class="quickFade delayThree">Brooklyn, NY</h2>
      </div>
      <div id="contactDetails" class="quickFade delayFour">
        <ul>
          <li>Email: <a href="mailto:jiangzhongcai123@gmail.com" target="_blank">jiangzhongcai123@gmail.com</a></li>
          <li>Github: <a href="https://github.com/Veggier">https://github.com/Veggier</a></li>
          <li>Phone: 6462588577</li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div id="mainArea" class="quickFade delayFive">
      <section>
        <article>
          <div class="sectionTitle">
            <h1>Personal Profile</h1>
          </div>
          <div class="sectionContent">
            <p>Zhongcai Jiang is a senior computer science student from the College of Staten Island. Jiang has expericence using C++, HTML and JS and has an interest in full-stack. He's currently working on MLH, use ruby on rails to working on a social networking sites. Also, as a learner, Jiang enjoys learning things from the example and good at observation and likes to find the logic from things.  </p>
          </div>
        </article>
        <div class="clear"></div>
      </section>
      <section>
        <div class="sectionTitle">
          <h1>Projects</h1>
        </div>
        <div class="sectionContent">
          <article>
            <h2><a href="https://github.com/Veggier/CSC511-project3-7-X-Yelp">Yelp search</a></h2>
            <p class="subDetails">Oct 2019</p>
            <li>Built a web application using Ember.js, the user can use the keyword to search the restaurant they like.</li>
            <li> Connect to the Yelp API, google map API, and use the Firebase as the database</li>
            <li>Search show some form of “auto-complete” as the user is typing.</li>
          </article>
          <br/>
          <article>
            <h2><a href="https://github.com/Veggier/CSC511-FINAL-PROJECT">Shopify website</a></h2>
            <p class="subDetails">Nov 2019</p>
            <li>Implemented a web application in a team of 2 creating own shopping website</li>
            <li> Developed the user interface using HTML, CSS, and JavaScript focus on ember.js framework</li>
            <li>Created and formed a database using Firebase and ember.js route to store the items and users’ information</li>
          </article>
          <br/>
          <article>
            <h2><a href="https://github.com/Veggier/Capstone-FrontEnd">Cheapest Price App</a></h2>
            <p class="subDetails">June 2020</p>
            <li>The technologies used are:
              Node, Express, React, Redux, Squelize, Axios, Nodemon, Morgan 
            </li>
            <li>The majority of these technologies were used as middleware to resolve issues such as repetition of code, refreshing page on change, and authentication.</li>
            <li> This App works by using an API call to search through a UPC database of products which returns multiple products from many different websites. </li>
            <li>Once a user finds a product that they want, we display the cheapest prices available among the that item in the UPC database.</li>
          </article>
           <br/>
        </div>
        <div class="clear"></div>
      </section>
      <section>
        <div class="sectionTitle">
          <h1>Work Experience</h1>
        </div>
        <div class="sectionContent">
          <article>
            <h2>CUNY Tutor</h2>
            <p class="subDetails">Location: NY</p>
            <p class="subDetails">Feb 2019 - Present</p>
            <li>Assist students review the class assignment or test review.</li>
            <li> Help student debug, and explain the homework/lab</li>
          </article>
          <br/>
          <article>
            <h2>Software Engineer Intern at Major League Hacking </h2>
            <p class="subDetails">Location: NY-REMOTE</p>
            <p class="subDetails">Jun 2020 - Aug 2020</p>
            <li>Study Ruby on Rails</li>
            <li>Working on issues for a open source website calls <a href="https://dev.to/">Dev.to</a></li>
          </article>
          <br/>
          <article>
            <h2>NYC Tech Talent Pipeline Intern</h2>
            <p class="subDetails">Location: NY-REMOTE</p>
            <p class="subDetails">May 2020 - Jun 2020</p>
            <li>Study the React and Redux</li>
            <li>Learn to how to use the github</li>
          </article>
          <br/>
          <article>
            <h2>STUDY IN LINKEDIN WEB DEVELOPMENT FIELD</h2>
            <p class="subDetails">Location: NY</p>
            <p class="subDetails">Sept 2019 - Dece 2019</p>
            <li>Study the Ember.js</li>
            <li>Develop the different type of website</li>
          </article>
          <br/>
        </div>
        <div class="clear"></div>
      </section>
      <br/>
      <section>
        <div class="sectionTitle">
          <h1>Key Skills</h1>
        </div>
        <div class="sectionContent">
          <ul class="keySkills">
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Ember.js</li>
            <li>React</li>
            <li>Redux</li>
            <li>Ruby on Rails</li>
            <li>Github</li>
          </ul>
        </div>
        <div class="clear"></div>
      </section>
      <br/>
      <section>
        <div class="sectionTitle">
          <h1>Education</h1>
        </div>
        <div class="sectionContent">
          <article>
            <h2>College of Staten Island</h2>
            <p class="subDetails">Bachelor of Technology Staten in Computer Systems Technology |GPA: 3.73/4.00</p>
            <p><i>Relevant Coursework:</i> Discrete Structures and Algorithms, C++ Programming, Database Fundamentals, Database, Data Structures, Computer Organization</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
      <br/>
       <section>
        <div class="sectionTitle">
          <h1>ACHIEVEMENT</h1>
        </div>
        <div class="sectionContent">
          <article>
            <h2>DEAN’S LIST FOR 2018-2019(COLLEGE OF STATEN ISLAND)</h2>
          </article>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
</div>
